<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.pl.agh.agro_app">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_baseline_agriculture_24"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Agro_app">
        <activity
            android:name=".FieldUVI"
            android:exported="false" />
        <activity
            android:name=".FieldSoilData"
            android:exported="false" />
        <activity
            android:name=".PlantStatus"
            android:exported="false" />
        <activity
            android:name=".WeatherData"
            android:exported="false" />
        <activity
            android:name=".CreateFieldPerimeter"
            android:exported="false" />
        <activity
            android:name=".FieldData"
            android:exported="false" />
        <activity
            android:name=".MenuActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>